@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-very-dark-magenta: hsl(300, 43%, 22%);
  --color-soft-pink: hsl(333, 80%, 67%);
  --color-dark-grayish-magenta: hsl(303, 10%, 53%);
  --color-light-grayish-magenta: hsl(300, 24%, 96%);
  --color-white-0: hsl(0, 0%, 100%);

  --font-league-spartan: "League Spartan", sans-serif;
}

.stars-5 {
  background-image: url("../images/icon-star.svg");
  background-position: center;
  background-repeat: repeat-x;
  width: 85px;
  height: 16px;
}
